* {
    padding: 0;
    margin: 0;
}

.navbar-text {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.navbar-text img {
  max-height:30px;
  width:auto;
  vertical-align:middle;
}

.navbar-text div {
  max-height:30px;
  width:auto;
  vertical-align:middle;
}

#name {
    color: white;
    margin-right: 10px;
}

#avatar {
    cursor: pointer;
}

.content {
    margin-top: 51px;
}

.user-info {
    display:inline-block;
    max-height: 50px;
}

.search-form {
    max-width: 350px;
}

table {
    table-layout:fixed;
}

td {
    display: table-cell;
    max-width: 150px;
    word-wrap: break-word;
    overflow: hidden;
}

td.container > div { width: 100%; height: 100%; max-height: 37px; overflow:hidden; }
td.container { height: 20px; }

