@(dbcount: java.lang.Long)
@main("Welcome to Play") {
<h1 class="page-header">Analyze DataBase</h1>
<div class="search-form">
    <form class="form-horizontal" role="form" action="@routes.ApplicationController.dbExplore()" method="get">
        <div class="form-group">
            <label for="lowerbound">Records in DataBase: @dbcount <br> Show records from:</label>
            <input name="from" type="text" class="form-control" id="lowerbound" placeholder="Enter lower bound ..." value="0">
        </div>
        <div class="form-group">
            <label for="upperbound">to:</label>
            <input name="to" type="text" class="form-control" id="upperbound" placeholder="Enter upper bound ..." value="10">
        </div>
        <div class="form-group">
            <input type="radio" id="checkbox1" name="debug" value="true" checked> <b> Show Debug Information</b> <br>
            <input type="radio" id="checkbox2" name="debug" value="false"> <b>  Information without debug</b>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Explore mango</button>
            <a class="btn btn-default" href="@routes.ApplicationController.clear()">Clear mango</a>
        </div>
    </form>
</div>
<br>
<div class="search-form">
    <form class="form-horizontal" role="form" action="@routes.ApplicationController.mapReduce()" method="get">
        <div class="form-group">
            <label for="min">Run MapReduce<br> Minimal count:</label>
            <input name="min" type="text" class="form-control" id="min" placeholder="Enter minimal count..." value="0">
            <label for="obj">Field to aggregate:</label>
            <select name="obj" class="form-control" id="obj" >
                <option selected="selected">category</option>
                <option>location</option>
                <option>name</option>
                <option>name_count</option>
                <option>birthday</option>
                <option>description</option>
            </select>
            <label for="type">Graph type:</label>
            <select name="type" class="form-control" id="type" >
                <option selected="selected">graph</option>
                <option>pie</option>
                <option>geo</option>
                <option>cloud</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Mapreduce</button>
        </div>
    </form>
</div>

}