@(result: model.FbDbResult)
@main("Welcome to Play") {
<script type="text/javascript">
    $(document).ready(function () {
                var words = [
                @if(result != null) {
                    @for(item <- result.data) {
                      {text: "@item.category", weight: @item.count },
                    }
                }
                ];

                $('#cloud').jQCloud(words);
    });
    </script>
<br>
<div id="cloud" style="width: auto; height: 600px;"></div>
}