@(result: model.FbDbResult)
@main("Welcome to Play") {
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        google.load("visualization", "1.1", {packages:["geochart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Country', 'Amount'],
                @if(result != null) {
                    @for(item <- result.data) {
                        [ "@item.category", @item.count],
                    }
                }
            ]);

            var options = {
            chart: {
                title: 'Aggregation by category',
                subtitle: '',
            }
        };

        var chart = new google.visualization.GeoChart(document.getElementById('geo'));

        chart.draw(data, options);
    }
    </script>
    <br>
    <div id="geo" style="width: auto; height: 600px;"></div>
}
