@(result: model.FbDbResult)
@main("Welcome to Play") {
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages:["bar"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Category', 'Count of pages', { role: 'style' } ],
                @if(result != null) {
                    @for(item <- result.data) {
                        [ "@item.category", @item.count, 'color: gray' ],
                    }
                }
            ]);

            var options = {
            chart: {
                title: 'Aggregation by category',
                subtitle: '',
            }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, options);
    }
    </script>
    <br>
    <div id="columnchart_material" style="width: auto; height: 600px;"></div>
}
