@(error: String)
@main("Welcome to Play") {
<h1 class="page-header">Put from Facebook</h1>
<div class="search-form">
    <b style="color: red ;">@error</b>
    <form class="form-horizontal" role="form" action="@routes.ApplicationController.put()" method="POST">
        <div class="form-group">
            <label for="text">Search text:</label>
            <input name="q" type="text" class="form-control" id="text" placeholder="Enter search text ..." value="fb">
        </div>
        <div class="form-group">
            <label for="fields">Search fields:</label>
            <input name="fields" type="text" class="form-control" id="fields" placeholder="Enter search fields ..." value="id,name,birthday,bio,influences,category,description,hometown,location">
        </div>
        <div class="form-group">
            <label for="fields">Count:</label>
            <input name="count" type="text" class="form-control" placeholder="Enter count ..." value="25">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
}