@(response: model.FbSearchResponse,jsonfile: String,debug: Boolean)
@main("Welcome to Play") {
    <h1 class="page-header">Search result</h1>
<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/jquery.jsonview.css")' />
<script type="text/javascript" src='@routes.Assets.versioned("javascripts/jquery.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("javascripts/jquery.jsonview.js")'></script>



@if(debug != false) {
<style>
    .SettingsDiv {
    height: 500px;
    width: 100%;
    border: 1px solid #C1C1C1;
    overflow-x: scroll;
    overflow-y: scroll;
    }
</style>
<div id="json" class="SettingsDiv"></div>
<script type="text/javascript">

    var json = '@jsonfile'.replace(/&quot;/g,'"');
    var json = json.replace(/\r|\n|\t/g, '');
    var i = 1;

    while (true) {
    json_new = json.replace(/\u007D\u002C\u007B/,'\u007D' + ',' + '"' + i + '"' + ":"+ '\u007B');
        if(json == json_new)
        {
            break;
        }
        else{
            i++;
            json = json_new;
        }
    }

    $(function()
    {
        $("#json").JSONView(json);

    });

</script>
}

<table class="table table-striped table-hover" >

    <tr class="success" > </tr>
        @if(response != null) {
            @for(user <- response.data) {
                <tr>
                    <td class="container" ><a href="http://fb.com/@user.id"><div><img src="https://graph.facebook.com/@user.id/picture?type=large" width="168" height="168" alt="@user.id"></div></a></td>
                    <td>
                        <div>
                            <b>Name:</b> @user.name <br/>
                            @if(user.birthday != null && (user.bio != null || user.description != null) ) {
                               <b>Birthday:</b> @user.birthday<br/>
                            } else {
                                <br/>
                            }
                            @if(user.category != null && (user.bio != null || user.description != null)) {
                                <b>Category:</b> @user.category <br/>
                            }
                            @if(user.hometown != null && (user.bio != null || user.description != null)) {
                                <b>Hometown:</b> @user.hometown <br/>
                            }
                            @if(user.location != null && (user.bio != null || user.description != null)) {
                                <b>Location:</b> @user.location <br/>
                            }
                            @if(user.influences != null && (user.bio != null || user.description != null)) {
                                <b>Influences:</b> @user.influences
                            }
                        </div>
                    </td>
                    @if(user.bio == null && user.description == null) {
                    <td colspan="5"><div>
                        @if(user.birthday != null){
                        <b>Birthday:</b> @user.birthday </br>
                        }
                        @if(user.category != null) {
                        <b>Category:</b> @user.category </br>
                        }
                        @if(user.hometown != null) {
                        <b>Hometown:</b> @user.hometown </br>
                        }
                        @if(user.location != null) {
                        <b>Location:</b> @user.location </br>
                        }
                        @if(user.influences != null) {
                        <b>Influences:</b> @user.influences
                        }
                    </div></td>
                    }
                    @if(user.bio != null || user.description != null) {
                    <td class="row" colspan="5"><div style="height: 170px; overflow: scroll;">
                    @if(user.bio != null) {
                     <b>Bio:</b> @user.bio </br>
                    }
                    @if(user.description != null) {
                     <b>Description:</b> @user.description
                    }
                    </div></td>
                    }
                </tr>
            }
        }
    </table>

    <nav class="pull-right">
        <ul class="pagination">
            @if(response != null && response.paging != null && response.paging.previous != null) {
            <li>
                <a aria-label="Previous" onclick="document.getElementById('paging-prev').submit();">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            }
            @if(response != null && response.paging != null && response.paging.next != null) {
                <li>
                    <a aria-label="Next" onclick="document.getElementById('paging-next').submit();">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>

    @if(response != null && response.paging != null && response.paging.next != null) {
        <form method="POST" action="@routes.ApplicationController.searchPaging()" id="paging-next" style="visibility:collapse;" >
            <input id="paging-next-data" name="page" type="hidden" value="@response.paging.next">
        </form>
    }

    @if(response != null && response.paging != null && response.paging.previous != null) {
        <form method="POST" action="@routes.ApplicationController.searchPaging()" id="paging-prev" style="visibility:collapse;" >
            <input id="paging-prev-data" name="page" type="hidden" value="@response.paging.previous">
        </form>
    }
}
