@main("Welcome to Play") {
    <script>
          function statusChangeCallback(response) {
                    show();
          }


          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1481551498839932',
              xfbml      : true,
              version    : 'v2.5'
            });

            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          function show() {
            FB.api('/me?fields=name,picture,id,birthday,bio,link,relationship_status,hometown,gender', function(response) {
              $("#user-box").html(
                       '<div class="user-info">' +
                       '<ul>'+
                       '<li class="dropdown">'+
                       '<label id="name" for="logout-button"></label>'+

				       '<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">'+
				       '<img id="avatar" width="50" height="50" alt="Rounded Image"> <span class="caret"></span></a>'+
				       '<ul class="dropdown-menu">'+
					    '<li><a href="@routes.ApplicationController.userinfo()"><b>User Info</b></a></li>'+
					'<li><a onclick="onLogoutClick()"><b>Log Out</b></a></li>'+
				   '</ul>'+
				   '</li>'+
                  '</ul>'+
                  ' </div><!--/.nav-collapse -->'
               );
               $("#userinfo").html(

                       '<table width="500">' +
                       '<tr><th>Picture : </td><td><img id="avatar1" width="75" height="75" alt="Rounded Image"></td></tr>'+
                       '<tr><td>Id : </td><td><label id="id" ></label></td></tr>'+
                       '<tr><td>Name : </td><td><label id="name1" ></label></td></tr>'+
                       '<tr><td>Birthday : </td><td><label id="birthday" ></label></td></tr>'+
                       '<tr><td>Gender : </td><td><label id="gender"></label></td></tr>'+
                       '<tr><td>relationship_status : </td><td><label id="relationship_status" ></label></td></tr>'+
                       '<tr><td>Bio : </td><td><label id="bio" ></label></td></tr>'+
                       '<tr><td>Hometown : </td><td><label id="hometown" ></label></td></tr>'+
                       '<tr><td>Link : </td><td><a id="link" ></a></td></tr>'+

				        ' </table><!--/.nav-collapse -->'
               );

              document.getElementById('id').innerHTML = response.id;

              document.getElementById('name').innerHTML = response.name;
              document.getElementById('name1').innerHTML = response.name;

              document.getElementById('gender').innerHTML = response.gender;

               if(response.birthday!= null)
               {
              document.getElementById('birthday').innerHTML = response.birthday;
              }
              else
              {
                document.getElementById('birthday').innerHTML = "Information Hidden By User!";
              }



               if(response.relationship_status!= null)
               {
              document.getElementById('relationship_status').innerHTML = response.relationship_status;
              }
              else
              {
                document.getElementById('relationship_status').innerHTML = "Information Hidden By User!";
              }

               if(response.hometown!= null)
               {
              document.getElementById('hometown').innerHTML = response.hometown;
              }
              else
              {
               document.getElementById('hometown').innerHTML = "Information Hidden By User!";
              }

               if(response.bio!= null)
               {
              document.getElementById('bio').innerHTML = response.bio;
              }
              else
              {
               document.getElementById('bio').innerHTML =  "Information Hidden By User!";
              }

              document.getElementById('link').innerHTML = response.link;

              document.getElementById("avatar").src  = response.picture.data.url;
              document.getElementById("avatar1").src  = response.picture.data.url;
            });
          }

</script>

<h1 class="page-header">User Information:</h1>
<div id="userinfo" class="content">

</div>
}