@(dbcount: java.lang.Long)
@main("Welcome to Play") {
<h1 class="page-header">Analyze DataBase</h1>
<div class="search-form">
    <form class="form-horizontal" role="form" action="@routes.ApplicationController.dbExplore()" method="get">
        <div class="form-group">
            <label for="lowerbound">Records in DataBase: @dbcount <br> Show records from:</label>
            <input name="from" type="text" class="form-control" id="lowerbound" placeholder="Enter lower bound ..." value="0">
        </div>
        <div class="form-group">
            <label for="upperbound">to:</label>
            <input name="to" type="text" class="form-control" id="upperbound" placeholder="Enter upper bound ..." value="10">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Explore mango</button>
            <a class="btn btn-default" href="@routes.ApplicationController.mapReduce()">MapReduce</a>
        </div>
    </form>
</div>
}