@(query: model.FbDbQuery)
@main("Welcome to Play") {
    <h1 class="page-header">DB query result</h1>

    <table class="table table-striped table-hover">
        <tr class="success">
            <td>id</td>
            <td>name</td>
            <td>birthday</td>
            <td>bio</td>
            <td>category</td>
            <td>description</td>
            <td>hometown</td>
            <td>location</td>
            <td>influences</td>
        </tr>
        @if(query != null) {
            @for(user <- query.data) {
                <tr>
                    <td class="container"><div><a target="_blank" href="http://fb.com/@user.id">@user.id</a></div></td>
                    <td class="container"><div>@user.name</div></td>
                    <td class="container"><div>@user.birthday</div></td>
                    <td class="container"><div>@user.bio</div></td>
                    <td class="container"><div>@user.category</div></td>
                    <td class="container"><div>@user.description</div></td>
                    <td class="container"><div>@user.hometown</div></td>
                    @if(user.location != null) {
                        <td class="container"><div>@user.location</div></td>
                    } else {
                        <td class="container"><div></div></td>
                    }
                    <td class="container"><div>@user.influences</div></td>
                </tr>
            }
        }
    </table>

    <nav class="pull-right">
        <ul class="pagination">
            @if(query != null && query.paging != null && query.paging.previous != null) {
            <li>
                <a aria-label="Previous" onclick="document.getElementById('paging-prev').submit();">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            }
            @if(query != null && query.paging != null && query.paging.next != null) {
                <li>
                    <a aria-label="Next" onclick="document.getElementById('paging-next').submit();">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>

    @if(query != null && query.paging != null && query.paging.next != null) {
        <form method="POST" action="@routes.ApplicationController.dbPaging()" id="paging-next" style="visibility:collapse;" >
            <input id="paging-next-data" name="page" type="hidden" value="@query.paging.next">
        </form>
    }

    @if(query != null && query.paging != null && query.paging.previous != null) {
        <form method="POST" action="@routes.ApplicationController.dbPaging()" id="paging-prev" style="visibility:collapse;" >
            <input id="paging-prev-data" name="page" type="hidden" value="@query.paging.previous">
        </form>
    }
}
