@()
@main("Welcome to Play") {
<style>
    #id:checked + fields input {
    color: red;
    }
</style>

<script>
function newCH(){

        fields.value="";

        if (CHid.checked == 1)
             {fields.value=fields.value+"id";}

        if (CHname.checked == 1)
             {
                if(fields.value!="")
                    fields.value=fields.value+",";
                fields.value=fields.value+"name";
             }

        if (CHbirthday.checked == 1)
             {
             if(fields.value!="")
                    fields.value=fields.value+",";
             fields.value=fields.value+"birthday";
             }

        if (CHbio.checked == 1)
             {
             if(fields.value!="")
                    fields.value=fields.value+",";
             fields.value=fields.value+"bio";}

        if (CHinfluences.checked == 1)
             {
             if(fields.value!="")
                    fields.value=fields.value+",";
             fields.value=fields.value+"influences";
             }

        if (CHcategory.checked == 1)
             {
             if(fields.value!="")
                    fields.value=fields.value+",";
             fields.value=fields.value+"category";
             }

        if (CHdescription.checked == 1)
             {
             if(fields.value!="")
                    fields.value=fields.value+",";
             fields.value=fields.value+"description";
             }

        if (CHhometown.checked == 1)
             {
             if(fields.value!="")
                    fields.value=fields.value+",";
             fields.value=fields.value+"hometown";
             }

        if (CHlocation.checked == 1)
             {
             if(fields.value!="")
                    fields.value=fields.value+",";
             fields.value=fields.value+"location";
             }
}
</script>

<h1 class="page-header">Explore Facebook</h1>
<div class="search-form">
    <form class="form-horizontal" role="form" action="@routes.ApplicationController.searchPaging()" method="GET">
        <div class="form-group">
            <label for="text">Search text:</label>
            <input name="q" type="text" class="form-control" id="text" placeholder="Enter search text ..." value="rock">
        </div>
        <div class="form-group">

            <label for="fields">Search fields:</label>
            <input name="fields" type="text" class="form-control" id="fields" placeholder="Enter search fields ..." value="id,name,birthday,bio,influences,category,description,hometown,location" readonly>

            <table>
                <tr>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked="checked" id="CHid" value="id" onchange="newCH()">  Id</th>
                    <th><input type="checkbox" checked="checked" id="CHname" value="name" onchange="newCH()"> Name</th>
                    <th><input type="checkbox" checked="checked" id="CHbirthday" value="birthday" onchange="newCH()"> Birthday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>

                <tr>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked="checked" id="CHbio" value="bio" onchange="newCH()"> Bio</th>
                    <th><input type="checkbox" checked="checked" id="CHinfluences" value="influences" onchange="newCH()"> Influences&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><input type="checkbox" checked="checked" id="CHcategory" value="category"onchange="newCH()"> Category</th>
                </tr>

                <tr>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked="checked" id="CHdescription" value="description" onchange="newCH()"> Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                    <th><input type="checkbox" checked="checked" id="CHhometown" value="hometown" onchange="newCH()"> Hometown</th>
                    <th><input type="checkbox" checked="checked" id="CHlocation" value="location" onchange="newCH()"> Location</th>
                </tr>

            </table>
        </div>
        <div class="form-group">
            <label for="checkbox1">debug</label>
            <input name="debug" type="checkbox" id="checkbox1" value="true" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" value="search">Submit</button>
        </div>
    </form>
</div>
}