@(response: model.FbSearchResponse,jsonfile: String)
@main("Welcome to Play") {
    <h1 class="page-header">Search result</h1>
<table class="table table-striped table-hover" >
    @if(response.checkboxdebug != false) {
        <div class="success">
            <textarea cols="150" rows="20">@jsonfile</textarea>
        </div>
    }
    <tr class="success" > </tr>
        @if(response != null) {
            @for(user <- response.data) {
                <tr>
                    <td class="container" ><a href="http://fb.com/@user.id"><div><img src="https://vk.com/images/gift/677/256.jpg" width="168" height="168" alt="@user.id"></div></a></td>
                    <td ><div>Name: @user.name
                    @if(user.birthday != null && (user.bio != null || user.description != null) ) {
                    <br> Birthday: @user.birthday </br>
                    } else { </br>}
                    @if(user.category != null && (user.bio != null || user.description != null)) {
                    Category: @user.category </br>
                    }
                    @if(user.hometown != null && (user.bio != null || user.description != null)) {
                    Hometown: @user.hometown </br>
                    }
                    @if(user.location != null && (user.bio != null || user.description != null)) {
                    Location: @user.location </br>
                    }
                    @if(user.influences != null && (user.bio != null || user.description != null)) {
                    Influences: @user.influences
                    }
                    </div></td>
                    @if(user.bio == null && user.description == null) {
                    <td colspan="5"><div>
                        @if(user.birthday != null){
                        Birthday: @user.birthday </br>
                        }
                        @if(user.category != null) {
                        Category: @user.category </br>
                        }
                        @if(user.hometown != null) {
                        Hometown: @user.hometown </br>
                        }
                        @if(user.location != null) {
                        Location: @user.location </br>
                        }
                        @if(user.influences != null) {
                        Influences: @user.influences
                        }
                    </div></td>
                    }
                    @if(user.bio != null || user.description != null) {
                    <td class="row" colspan="5"><div >
                    @if(user.bio != null) {
                     Bio: @user.bio </br>
                    }
                    @if(user.description != null) {
                     Description: @user.description
                    }
                    </div></td>
                    }
                </tr>
            }
        }
    </table>

    <nav class="pull-right">
        <ul class="pagination">
            @if(response != null && response.paging != null && response.paging.previous != null) {
            <li>
                <a aria-label="Previous" onclick="document.getElementById('paging-prev').submit();">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            }
            @if(response != null && response.paging != null && response.paging.next != null) {
                <li>
                    <a aria-label="Next" onclick="document.getElementById('paging-next').submit();">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>

    @if(response != null && response.paging != null && response.paging.next != null) {
        <form method="POST" action="@routes.ApplicationController.searchPaging()" id="paging-next" style="visibility:collapse;" >
            <input id="paging-next-data" name="page" type="hidden" value="@response.paging.next">
        </form>
    }

    @if(response != null && response.paging != null && response.paging.previous != null) {
        <form method="POST" action="@routes.ApplicationController.searchPaging()" id="paging-prev" style="visibility:collapse;" >
            <input id="paging-prev-data" name="page" type="hidden" value="@response.paging.previous">
        </form>
    }
}
